In [ ]:
#1.Find the error in the following Python code:

 for i in range(5)
    print(i)

In [26]:
#Syntax error: colon is missing

for i in range(5):
    print(i)

0
1
2
3
4

In [ ]:
#2.What will be the output of this code?

a = 10
b = "5"
print(a + b)

In [27]:
#Type error: cannot concatenate int to str

a = 10
b = "5"
print(a + int(b))

15

In [ ]:
#3.What is the issue in this Python snippet?

 def add_numbers(a, b)
    return a + b

In [31]:
##Syntax error: colon is missing

def add_numbers(a, b):
    return a + b

In [ ]:

#4.Identify the bug in the following Python code:

numbers = [1, 2, 3, 4]
print(numbers[4])

In [28]:
#Index Error: List index out of bound

numbers = [1, 2, 3, 4]
print(numbers[3])

4

In [ ]:
#5.Find the error in the following Python code:
print "Hello, World!"

In [16]:
#Syntax error: Parentheses is missing

print("Hello, World!")

Hello, World!

In [ ]:
#6.Find the error in the following Python code:
x = 5 / 0

Divide by zero error

In [ ]:
#7.Find the error in the following Python code:name = "Alice"
age = 25
print("Name: " + name + ", Age: " + age)

1. Name Error: Name "name" is not defined
2. Type error: cannot concatenate int to str

In [20]:
#8.Find the error
for i in range(1, 10, -1):
    print(i)

Error Explanation------->
range() function works with the arguments range(starting_value, ending_value, step). The given range should meet up the constraint (starting_value + i * step) in every iteration. The problem here is the range tries to iterate decreasingly where the starting_value (i.e., 1) is less than the actual ending_value (i.e., 1 + 0 * -1 = 1). If we say in a sentence by considering the expected range, FOR each ITEM in the RANGE of 1 to 10 decreases by -1 which actually reaches the ending value with the first iteration itself. Hence the range returns empty list and for loop has nothing to iterate over.

In [ ]:
#9. Find the error in the following Python code:
x = 10
if x = 5:
    print("x is 5")

In [35]:
#Syntax error: Assignment operator is used instead of comparative operator

x = 10
if x == 5:
    print("x is 5")

In [ ]:
#10. Identify the error in the following function definition:

def greet(name)
    print("Hello, " + name)

In [39]:
#Syntax error: colon is missing

def greet(name):
    print("Hello, " + name)